/* High Stakes Academy Standard Stylesheet */



/* Helper Functions */

$resize-up-1: 570px;
$resize-up-2: 985px;
$resize-up-3: 1400px;

@mixin responsiveProp($prop, $mobile-value, $delta) {
    #{$prop}: $mobile-value;
    @media(min-width: $resize-up-1) { #{$prop}: $mobile-value+1*$delta; }
    @media(min-width: $resize-up-2) { #{$prop}: $mobile-value+2*$delta; }
    @media(min-width: $resize-up-3) { #{$prop}: $mobile-value+3*$delta; }
}



/* Optins */

form.hsa-optin-form input {
    border: none;
    border-radius: 100px;
    color: black;
    display: block;
    font-family: sans-serif;
    font-weight: 300;
    margin: 0.5em auto;
    outline: none;
    padding: 0;
    text-align: center;
    transition: 0.3s all;
    width: 100%;

    @include responsiveProp('font-size', 14px, 1px);
    @include responsiveProp('height', 28px, 4px);
    @include responsiveProp('max-width', 275px, 38px);

    &[type="submit"] {
	background-color: #2e82bc;
	color: white;
	cursor: pointer;
	font-size: 16px;
	font-weight: 700;
	margin-top: 0.7em;

	@include responsiveProp('font-size', 16px, 2px);

	&:hover {
	    background-color: #398cdf;
	}
    }
}

button.hsa-default-button {
    border: none;
    border-radius: 100px;
    color: black;
    display: block;
    font-family: sans-serif;
    font-weight: 300;
    margin: 0.5em auto;
    outline: none;
    padding: 0;
    text-align: center;
    transition: 0.3s all;
    width: 100%;

    @include responsiveProp('height', 28px, 4px);
    @include responsiveProp('max-width', 275px, 38px);

    background-color: #2e82bc;
    color: white;
    cursor: pointer;
    font-weight: 700;
    margin-top: 0.7em;

    @include responsiveProp('font-size', 16px, 2px);

    &:hover {
	background-color: #398cdf;
    }
}
